body {
  font-family: "Inter", sans-serif;
  background: #111;
  color: #eee;
  text-align: center;
  padding: 20px;
  margin: 0;
}
.container {
    max-width: 500px;
    margin: auto;
}
h1 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.8rem;
}

video {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

#controls {
  margin: 20px auto;
  max-width: 400px;
  text-align: left;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  opacity: 0.8;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  margin-bottom: 12px;
  background: #222;
  color: #eee;
  font-size: 16px;
  box-sizing: border-box;
}

/* Remove arrows in Chrome, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}

#buttons {
  margin-top: 10px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: 0.2s;
}

#toggleBtn {
  background: #4caf50;
  color: white;
}

#toggleBtn:hover {
  background: #43a047;
}

#copyBtn {
  background: #2196f3;
  color: white;
}

#copyBtn:hover {
  background: #1e88e5;
}

#result {
  margin: 25px auto;
  font-size: 18px;
  white-space: pre-line;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  border: 2px solid #333333;
  box-sizing: border-box;
}
 footer a {
    color: #555555;
    text-decoration: none;
 }
/* --- Responsive --- */

@media (min-width: 900px) {
  h1 {
    font-size: 2.4rem;
  }
  /* video {
    max-width: 700px;
  } */
  #result {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  button {
    width: 50%;
    margin: 8px 0;
  }
}