html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  background: #111;
  color: #eee;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: linear-gradient(to bottom, #333333, #222222);
    border: 2px solid #555555;
    border-radius: 1rem;    
}

h1 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.8rem;
}
video {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #555555;
}

#controls {
  margin: 20px auto;
  max-width: 400px;
  text-align: left;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  opacity: 0.8;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  margin-bottom: 12px;
  background: #222;
  color: #eee;
  font-size: 16px;
  box-sizing: border-box;
}

/* Remove arrows in Chrome, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}

#buttons {
  margin-top: 10px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: 0.2s;
  width: 40%;
}

#toggleBtn {
  background: #4caf50;
  color: white;
}

#toggleBtn:hover {
  background: #43a047;
}

#copyBtn {
  background: #2196f3;
  color: white;
}

#copyBtn:hover {
  background: #1e88e5;
}

#result {
  margin: 25px auto;
  font-size: 18px;
  white-space: pre-line;
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  max-width: 400px;
  min-height: 2.8rem;
  border: 2px solid #333333;
  box-sizing: border-box;
}
.copyright {
  margin-top: 0.5rem;
}
 .copyright a {
    color: #555555;
    text-decoration: none;
 }
/* --- Responsive --- */

@media (min-width: 900px) {
  h1 {
    font-size: 2.4rem;
  }
  #result {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    height: 85vh;
    width: 75vw;
  }
  h1 {
    font-size: 1.2rem;
  }
  #controls, #buttons, #result, label {
    margin: 0 auto;
  }
  video {
    max-height: 30vh;
  }
  button {
    width: 50%;
    margin: 8px 0;
  }
}